<p id="notice"><%= notice %></p>

<p>
  <strong>Tonnage:</strong>
  <%= @truck.tonnage %>
</p>

<p>
  <strong>Crew:</strong>
  <%= @truck.crew %>
</p>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
